/* SASS @import */
@import "css-reset";
@import "fonts";
@import "shadows";
/* SASS @import end */

/* main CSS */
/* pre-format */

body, html {
  max-width: 100vw;
  font-size: 62.5%;
  background-color: #fff;
  overflow-x: hidden;
  h1 {
    font-family: 'josefin_sansthin', Arial, sans-serif;
    font-size: 10rem;
  }
  h2 {
    font-family: 'josefin_sansregular', Arial, sans-serif;
    font-size: 8rem;
  }
  h3 {
    font-family: 'josefin_sansthin', Arial, sans-serif;
    font-size: 6rem;
  }
  h4 {
    font-family: 'josefin_sansregular', Arial, sans-serif;
    font-size: 3rem;
  }
  span {
    font-weight: bold;
  }
  p {
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
  }
  li {
    font-family: 'josefin_sansthin', Arial, sans-serif;
    font-size: 3rem;
    line-height: 2rem;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  .content {
    width: 960px;
    height: 100%;
    margin: auto;
    pointer-events: all;
  }
}

/* pre-format end */

.top-menu--hidden {
  transform: translate(0, -50px);
}
#top-menu:hover {
  transform: translate(0, 0px);
}
#top-menu {
  position: fixed;
  display: flex;
  left: 0;
  width: 100vw;
  height: 65px;
  background-color: #1a1a1a;
  z-index: 2500;
  transition: 0.5s;
  -webkit-box-shadow: 0 26px 36px -24px rgba(0,0,0,1);
  -moz-box-shadow: 0 26px 36px -24px rgba(0,0,0,1);
  box-shadow: 0 26px 36px -24px rgba(0,0,0,1);
  #navigation {
    display: flex;
    color: #fff;
    li {
      align-items: flex-end;
      padding: 20px;
    }
  }
  .menu-img {
    position: absolute;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    img {
      width: 60px;
      height: auto;
    }
  }
}
#main {
  text-align: center;
  #header {
    background: url('img/header_background.jpg') no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 5rem;
    height: 100vh;
    width: 100vw;
    .header-bit {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -200px;
      margin-left: -125px;
      line-height: 3rem;
      width: 250px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  #overview {
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 250px;
    .skyline {
      position: absolute;
      left: 50%;
      margin-left: -480px;
      h3 {
        margin-top: -410px;
      }
      img {
        margin-top: -350px;
      }
    }
    .introduction {
      position: relative;
      padding-top: 65vh;
      color: black;
      font-family: 'josefin_sansregular', Arial, sans-serif;
      font-weight: lighter;
      .people {
        position: relative;
        width: 930px;
        height: 150px;
        margin: 100px auto;
        display: flex;
        .person {
          width: 150px;
          margin: 0 80px;
          .person-under {
          	height: 150px;
          	background: #352f2f;
          	-moz-border-radius: 75px;
          	-webkit-border-radius: 75px;
          	border-radius: 75px;
            text-align: center;
            transition: 0.5s;
            h4 {
              font-weight: bolder;
              width: 100%;
              padding-top: 175px;
            }
          }
          .person-cover {
            position: absolute;
            top: -50px;
            left: 50%;
            margin-left: -425px;
            width: 850px;
            height: 300px;
            pointer-events: none;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 50px;
            display: none;
            border-width: 1px;
            border-style: solid;
            border-color: #DDDDDD;
            box-shadow: 0px 1px 30px 0px #99A3AD, inset 0px 0px 40px #EEEEEE;
            .person-cover--photo {
              position: absolute;
              left: 50px;
              top: 30px;
              height: 240px;
              width: 175px;
            	background: #352f2f;
            }
            .person-cover--description {
              position: absolute;
              top: 30px;
              left: 275px;
              height: 240px;
              width: 525px;
              color: black;
              font-size: 3rem;
              h4 {
                width: 100%;
                height: 50px;
              }
              p {
                width: 100%;
                height: 160px;

              }
            }
          }
        }
        .first {

        }
        .second {

        }
        .third {

        }
      }
    }
  }
  #quotation {
    position: relative;
    height: 100vh;
    background-color: rgba(110, 184, 238, 0.75);
    background: url('img/mid_background.jpg') no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    color: #fff;
    .content {
      position: absolute;
      width: 960px;
      left: 50%;
      top: 50%;
      margin-top: -3rem;
      margin-left: -480px;
    }
  }
  #topics {
    background-color: #fff;
    .content {
      h2 {
        padding-top: 100px;
      }
      .blocks {
        margin: 100px 0;
        .block {
          position: relative;
          width: 800px;
          height: 187px;
          margin: 50px auto;
          border: solid 1.5px #ddd;
          .text {
            width: 500px;
            padding: 25px;
            h4 {
              margin-bottom: 15px;
            }
          }
        }
        .cover {
          position: absolute;
          top: -1.5%;
          left: -1.5%;
          width: 103%;
          height: 103%;
          margin: 0;
          pointer-events: none;
        }
        .society {
          -webkit-border-top-right-radius: 50px;
          -moz-border-radius-topright: 50px;
          border-top-right-radius: 50px;
          background: url('img/society.jpg') no-repeat;
          background-size: auto 100%;
          background-position: left;
          .text {
            margin-left: 250px;
          }
          .cover {
            -webkit-border-top-right-radius: 70px;
            -moz-border-radius-topright: 70px;
            border-top-right-radius: 70px;
            background: url('img/society_cover.jpg') no-repeat;
            background-size: cover;
          }
        }
        .travel {
          -webkit-border-top-left-radius: 50px;
          -moz-border-radius-topleft: 50px;
          border-top-left-radius: 50px;
          background: url('img/travel.jpg') no-repeat;
          background-size: auto 100%;
          background-position: right;
          .text {
            margin-left: 20px;
          }
          .cover {
            -webkit-border-top-left-radius: 70px;
            -moz-border-radius-topleft: 70px;
            border-top-left-radius: 70px;
            background: url('img/travel_cover.jpg') no-repeat;
            background-size: cover;
          }
        }
        .critique {
          -webkit-border-top-right-radius: 50px;
          -moz-border-radius-topright: 50px;
          border-top-right-radius: 50px;
          background: url('img/critique.jpg') no-repeat;
          background-size: auto 100%;
          background-position: left;
          .text {
            margin-left: 250px;
          }
          .cover {
            -webkit-border-top-right-radius: 70px;
            -moz-border-radius-topright: 70px;
            border-top-right-radius: 70px;
            background: url('img/critique_cover.jpg') no-repeat;
            background-size: cover;
          }
        }
      }
    }
  }
  #latest-posts {
    background-color: #1a1a1a;
    .latest-top {
      height: 400px;
      .content {
        h2 {
          color: #fff;
          padding: 100px 0 30px 0;
        }
      }
    }
    .latest-mid {
      height: 350px;
      width: 120vw;
      margin-left: -10vw;
      background-color: #fff;
      padding-top: 15px;
      .slick-slider {
        .slick-dots {
          z-index: 500;
          margin-top: 16px;
          li {
            button {
              font-size: 0;
              line-height: 0;
              display: block;
              width: 20px;
              height: 20px;
              padding: 5px;
              cursor: pointer;
              color: transparent;
              border: 0;
              outline: none;
              background: transparent;
            }
            button:before {
              font-family: slick;
              font-size: 6px;
              line-height: 20px;
              position: absolute;
              top: 0px;
              left: 0px;
              width: 20px;
              height: 20px;
              content: "•";
              text-align: center;
              opacity: 0.50;
              color: #fff;
              -webkit-font-smoothing: antialiased;
            }
          }
          .slick-active {
            button {
              opacity: 0.15;
              color: #ff;
              z-index: 1000;
            }
          }
        }
        .slick-list {
          max-height: 335px;
          .slick-track {
            .slick-slider--element {
              position: relative;
              margin: 0;
              .cover:hover {
                padding-top: 10px;
                transition: 0.5s;
                background-color: rgba(0, 0, 0, 0.9);
              }
              .cover {
                overflow: hidden;
                padding-top: 275px;
                height: 100%;
                transform: translateY(0px);
                transition: 0.5s;
                position: absolute;
                width: 100%;
                height: 100%;
                color: #fff;
                margin-left: 1px;
                background-color: rgba(0, 0, 0, 0.4);
                h3 {
                  font-size: 4rem;
                  font-weight: bold;
                  line-height: 4.5rem;
                  max-width: 100%;
                  text-align: left;
                  margin-left: 50px;
                  margin-right: 50px;
                  color: #fff;
                  border-bottom: solid 1px #fff;
                }
                p {
                  padding: 10px 50px;
                }
              }
              img {
                min-width: 100%;
                height: 100%;
                margin: auto;
                overflow: hidden;
                border-width: 1px;
                border-style: solid;
                border-color: #DDDDDD;
                box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 40px #EEEEEE;
              }
            }
          }
        }
      }
    }
    .latest-bottom {
      height: 300px;
      background-color: inherit;
      .latest-bottom--inside {
        height: 100%;
        width: 100%;
        background: url('img/latest_bg.jpg') no-repeat;
        background-size: auto 100%;
        background-position: right;
        .content {
          height: 100%;
          position: relative;
          .quote {
            padding-top: 110px;
            width: 50%;
            color: #fff;
            background: url('img/quotes_light.png') no-repeat;
            background-position: 122px 95px;
            background-size: 30px 30px;
            h3 {
              font-size: 3.5rem;
              width: 250px;
              margin: auto;
              text-align: center;
              line-height: 4rem;
            }
          }
        }
      }
    }
  }
}
#footer {
  height: 150px;
  background: #1a1a1a;
  .copyrights {
    width: 100%;
    height: 20px;
    padding-top: 130px;
    p {
      text-align: center;
      color: rgba(255, 255, 255, 0.25);
    }
  }
}

/* operational */

.separator {
  width: 940px;
  margin: 20px auto;
  height: 30px;
}
.separator--dark {
  background: url('img/separator.jpg') no-repeat center;
}
.separator--light {
  background: url('img/separator_light.jpg') no-repeat center;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
/* operational end */

/* main CSS end */

/* RWD sass import */
@import "rwd";
/* RWD sass import end */
